body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
}

.sidebar-heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.list-group-item {
    font-size: 1.1rem;
}

.card {
    border-radius: 0.5rem;
}